{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
      <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="/" class="w3-bar-item w3-button w3-wide"><img src="{% static 'img.png' %}" alt="Company Logo" height="32px" ></a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      {% if request.user.is_authenticated %}
        <a href="/add" class="w3-bar-item w3-button"><i class="fa fa-plus"></i> ADD</a>
        <a href="/search" class="w3-bar-item w3-button"><i class="fa fa-search"></i> SEARCH</a>
        <a href="/accounts/logout" class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGOUT</a>
        {% else %}
        <a href="/accounts/login" class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGIN</a>
        {% endif %}
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    {% if request.user.is_authenticated %}
        <a href="/add" class="w3-bar-item w3-button" onclick="w3_close()">ADD</a>
        <a href="/search" class="w3-bar-item w3-button" onclick="w3_close()">SEARCH</a>
        <a href="/accounts/logout" class="w3-bar-item w3-button" onclick="w3_close()"><button color="grey">LOGOUT</button></a>
        {% else %}
        <a href="/accounts/login" class="w3-bar-item w3-button" onclick="w3_close()"><button color="grey">LOGIN</button></a>
        {% endif %}
</nav>